In [3]:
# Conex√£o MSSQL 2019
import pyodbc 
import pandas as pd

cnxn = pyodbc.connect(DRIVER='{ODBC Driver 17 for SQL Server}',SERVER='localhost,1433',DATABASE='dbproducao',UID='sa',PWD='Numsey@Password!')
cursor = cnxn.cursor()

In [4]:
cursor.execute("SELECT TOP 3 AddressID,  AddressLine1, City,  PostalCode FROM Person.Address where AddressID  in (1,2,3)") 
row = cursor.fetchone() 
while row: 
    print(row)
    row = cursor.fetchone()

(1, '1970 Napa Ct.', 'Bothell', '98011')
(2, '9833 Mt. Dias Blv.', 'Bothell', '98011')
(3, '7484 Roundtree Drive', 'Bothell', '98011')

In [6]:
import sqlalchemy as mssdb
import pandas as pd
engine = mssdb.create_engine("mssql+pyodbc://sa:Numsey@Password!@localhost,1433/TutorialDB?driver=ODBC+DRIVER+17+for+SQL+Server")
row = engine.execute("SELECT @@version;").fetchall()
for a in row:
    print(a[0])

Microsoft SQL Server 2019 (RTM-CU9) (KB5000642) - 15.0.4102.2 (X64)
	Jan 25 2021 20:16:12
	Copyright (C) 2019 Microsoft Corporation
	Developer Edition (64-bit) on Linux (Ubuntu 18.04.5 LTS) <X64>