In [2]:
# Conex√£o MSSQL 2019
import pyodbc 
import pandas as pd

cnxn = pyodbc.connect(DRIVER='{ODBC Driver 17 for SQL Server}',SERVER='localhost,1433',DATABASE='dbproducao',UID='sa',PWD='Numsey@Password!')
cursor = cnxn.cursor()

In [18]:
cursor.execute("SELECT TOP 3 AddressID,  AddressLine1, City,  PostalCode FROM Person.Address where AddressID  in (1,2,3)") 
row = cursor.fetchone() 
while row: 
    print(row)
    row = cursor.fetchone()

(1, '1970 Napa Ct.', 'Bothell', '98011')
(2, '9833 Mt. Dias Blv.', 'Bothell', '98011')
(3, '7484 Roundtree Drive', 'Bothell', '98011')