In [1]:
from pyspark.sql import SparkSession,SQLContext, Row
from pyspark import SparkConf, SparkContext
import pyodbc
import pandas as pd

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
# spark is an existing SparkSession
df = spark.read.format('csv').options(header='true').load('Google Drive/desenv/Script/csv/kc_house_data.csv')
# df.show()

In [3]:
# usando spark sql
df.createOrReplaceTempView("kc_house")
sqlDF = spark.sql('select * from kc_house where price >= 80000 ')
sqlDF.show()

+----------+--------+------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id| dt_date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+--------+------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|7129300520|20141013|221900|       3|        1|       1180|    5650|     1|         0|   0|        3|    7|      1180|            0|    1955|           0|  98178|47.5112|-122.257|         1340|      5650|
|6414100192|20141209|538000|       3|     2.25|       2570|    7242|     2|         0|   0|        3|    7|      2170|          400|    1951|        1991|  98125| 47.721|-122.319|         1690|      7639|
|5631500400|20150225|180000|       2|        1|        770|   10000|     1|         0|   0|        3|    6|       770|            0|    1933|           0|  98028|47.7379|-122.233|         2720|      8062|
|2487200875|20141209|604000|       4|        3|       1960|    5000|     1|         0|   0|        5|    7|      1050|          910|    1965|           0|  98136|47.5208|-122.393|         1360|      5000|
|1954400510|20150218|510000|       3|        2|       1680|    8080|     1|         0|   0|        3|    8|      1680|            0|    1987|           0|  98074|47.6168|-122.045|         1800|      7503|
|1321400060|20140627|257500|       3|     2.25|       1715|    6819|     2|         0|   0|        3|    7|      1715|            0|    1995|           0|  98003|47.3097|-122.327|         2238|      6819|
|2008000270|20150115|291850|       3|      1.5|       1060|    9711|     1|         0|   0|        3|    7|      1060|            0|    1963|           0|  98198|47.4095|-122.315|         1650|      9711|
|2414600126|20150415|229500|       3|        1|       1780|    7470|     1|         0|   0|        3|    7|      1050|          730|    1960|           0|  98146|47.5123|-122.337|         1780|      8113|
|3793500160|20150312|323000|       3|      2.5|       1890|    6560|     2|         0|   0|        3|    7|      1890|            0|    2003|           0|  98038|47.3684|-122.031|         2390|      7570|
|1736800520|20150403|662500|       3|      2.5|       3560|    9796|     1|         0|   0|        3|    8|      1860|         1700|    1965|           0|  98007|47.6007|-122.145|         2210|      8925|
|9212900260|20140527|468000|       2|        1|       1160|    6000|  null|         0|   0|        4|    7|       860|          300|    1942|           0|  98115|  47.69|-122.292|         1330|      6000|
|0114101516|20140528|310000|       3|        1|       1430|   19901|   1.5|         0|   0|        4|    7|      1430|            0|    1927|           0|  98028|47.7558|-122.229|         1780|     12697|
|6054650070|20141007|400000|       3|     1.75|       1370|    9680|     1|         0|   0|        4|    7|      1370|            0|    1977|           0|  98074|47.6127|-122.045|         1370|     10208|
|1175000570|20150312|530000|       5|        2|       1810|    4850|   1.5|         0|   0|        3|    7|      1810|            0|    1900|           0|  98107|  47.67|-122.394|         1360|      4850|
|9297300055|20150124|650000|       4|        3|       2950|    5000|     2|         0|   3|        3|    9|      1980|          970|    1979|           0|  98126|47.5714|-122.375|         2140|      4000|
|1875500060|20140731|395000|       3|        2|       1890|   14040|     2|         0|   0|        3|    7|      1890|            0|    1994|           0|  98019|47.7277|-121.962|         1890|     14018|
|6865200140|20140529|485000|       4|        1|       1600|    4300|   1.5|         0|   0|        4|    7|      1600|            0|    1916|           0|  98103|47.6648|-122.343|         1610|      4300|
|0016000397|20141205|189000|       2|        1|       1200|    9850|     1|         0|   0|        4|    7|      1200|            0|    1921|           0|  98002|47.3089| -122.21|         1060|      5095|
|7983200060|20150424|230000|       3|        1|       1250|    9774|     1|         0|   0|        4|    7|      1250|            0|    1969|           0|  98003|47.3343|-122.306|         1280|      8850|
|6300500875|20140514|385000|       4|     1.75|       1620|    4980|     1|         0|   0|        4|    7|       860|          760|    1947|           0|  98133|47.7025|-122.341|         1400|      4980|
+----------+--------+------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

In [26]:
sqlDF.select('dt_date', 'price', 'bedrooms', 'bathrooms','sqft_living', 'sqft_lot', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built').filter('bedrooms > 4').show()

+--------+------+--------+---------+-----------+--------+---------+-----+----------+-------------+--------+
| dt_date| price|bedrooms|bathrooms|sqft_living|sqft_lot|condition|grade|sqft_above|sqft_basement|yr_built|
+--------+------+--------+---------+-----------+--------+---------+-----+----------+-------------+--------+
|20150312|530000|       5|        2|       1810|    4850|        3|    7|      1810|            0|    1900|
|20140703|285000|       5|      2.5|       2270|    6300|        3|    8|      2270|            0|    1995|
|20140707|861990|       5|     2.75|       3595|    5639|        3|    9|      3595|            0|    2014|
|20150217|345000|       5|      2.5|       3150|    9134|        4|    8|      1640|         1510|    1966|
|20150303|920000|       5|     2.25|       2730|    6000|        3|    8|      2130|          600|    1927|
|20140827|951000|       5|     3.25|       3250|   14342|        4|    8|      3250|            0|    1968|
|20141103|305000|       5|     2.25|       2660|    8400|        5|    7|      2660|            0|    1961|
|20140827|470000|       5|     1.75|       2030|   12342|        4|    7|      2030|            0|    1942|
|20140613|822500|       5|      3.5|       2320|    4960|        5|    7|      1720|          600|    1926|
|20140708|527700|       5|      2.5|       2820|    9375|        4|    8|      1550|         1270|    1968|
|20141030|258000|       5|        2|       2260|   12500|        4|    8|      1130|         1130|    1960|
|20141120|650000|       5|      3.5|       3960|   25245|        3|    9|      2500|         1460|    1996|
|20140507|255000|       5|     2.25|       2060|    8632|        3|    7|      1030|         1030|    1962|
|20140709|399950|       5|     2.75|       1970|    5400|        3|    7|      1320|          650|    1986|
|20140717|464000|       6|        3|       2300|    3404|        3|    7|      1600|          700|    1920|
|20141121|315000|       6|     2.75|       2940|    7350|        3|    8|      1780|         1160|    1978|
|20140529|472000|       6|      2.5|       4410|   14034|        4|    9|      2350|         2060|    1965|
|20141017|467000|       5|     2.25|       2500|   13500|        3|    7|      1850|          650|    1979|
|20140702|675000|       5|     2.25|       2900|   10300|        3|    8|      1450|         1450|    1985|
|20141023|201000|       5|     1.75|       1660|   78408|        3|    6|      1660|            0|    1915|
+--------+------+--------+---------+-----------+--------+---------+-----+----------+-------------+--------+
only showing top 20 rows